{% extends "layout.html" %}
{% block head %}
    <head>
        <title>DapsEx</title>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="keywords" content=", ">
        <meta name="author" content="">
        <link rel='stylesheet'
                type='text/css'
                href="{{ url_for('static', filename='css/home/index.css') }}">
        {{ super() }}
    </head>
{% endblock head %}
{% block layout_content_div %}
{% endblock layout_content_div %}
<!-- <script>
    const myFirstName = "{{ my_name }}";
</script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/home/index.js') }}"></script>
