{% extends "layout.html" %}
{% block head %}

<head>
    <title>Settings</title>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content=", ">
    <meta name="author" content="">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/settings/settings.css') }}">
    {{ super() }}
</head>
{% endblock head %}
{% block layout_content_div %}
<div class="settings-container">
    <div class="content-box">
        <h2 class="content-heading">Instances</h2>
        <hr class="separator">
        <form id="instances-form">
            <!-- RADARR Instance -->
            <div class="instance-wrapper">
                <label class="form-name">RADARR</label>
                <div id="radarr-group-wrapper"></div>
                <button class="btn btn-primary btn-add" type="button" id="add-radarr">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add Radarr
                </button>
            </div>
            <!-- SONARR Instance -->
            <div class="instance-wrapper">
                <label class="form-name">SONARR</label>
                <div id="sonarr-group-wrapper"></div>
                <button class="btn btn-primary btn-add" type="button" id="add-sonarr">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add Sonarr
                </button>
            </div>
            <!-- PLEX Instance -->
            <div class="instance-wrapper">
                <label class="form-name">PLEX</label>
                <div id="plex-group-wrapper"></div>
                <button class="btn btn-primary btn-add" type="button" id="add-plex">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add Plex
                </button>
            </div>
        </form>
    </div>
    <div class="content-box">
        <h2 class="content-heading">Poster Renamerr</h2>
        <hr class="separator">
        <form id="poster-renamer-form"></form>
    </div>
    <div class="content-box">
        <div class="btn-submit">
            <button id="save-settings" class="btn btn-primary flex-grow">Save settings</button>
        </div>
    </div>
</div>
{% endblock layout_content_div %}
{% block script_content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/settings/settings.js') }}"></script>
{% endblock script_content %}
